.Key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  min-width: 40px;
  margin: 0 16px;

  &:hover {
    .Key {
      &__icon {
        background-color: transparentize($body-color, 0.3);
      }
    }
  }

  &--show {
    .Key__icon {
      color: transparentize($white, 0.7);
      background: transparent;
    }

    &:hover {
      .Key {
        &__icon {
          color: $white;
          background-color: transparentize($body-color, 0.3);
        }
      }
    }
  }

  &__icon {
    min-width: 24px;
    font-family: $font-family-regular;
    font-size: $font-size-sm;
    padding: 4px 8px;
    border-radius: $border-radius-box-small;
    text-align: center;
    font-weight: $font-weight-regular;
    background-color: transparentize($body-color, 0.7);
    color: $white;
  }
}

@media screen and (max-width: $small-device-width) {
  .Key {
    justify-content: flex-start;
    margin: 8px 24px !important;
  }
}